/* Use this file if necessary or use https://tailwindcss.com */

.cursorPointer {
  cursor: pointer !important;
}

.cursorGrab {
  cursor: grab !important;
}

.cursorCrosshair {
  cursor: crosshair !important;
}

.preventScroll {
  position: fixed;
  overflow: hidden;
}