/* Use this file if necessary or use https://tailwindcss.com */

.cursorPointer {
  cursor: pointer !important;
}

.cursorGrab {
  cursor: grab !important;
}

.cursorCrosshair {
  cursor: crosshair !important;
}

.preventScroll {
  position: fixed;
  overflow: hidden;
}

.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 4px solid #60B572;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  z-index: 10;
  pointer-events: none;
  background: none;
}